/* reset */
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

/* /reset */
html body {
  font-family: 'Open Sans', sans-serif;
  scroll-behavior: smooth; }

main {
  width: 100%; }

h1, h2, h3, h4, h5, h6 {
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizelegibility; }

#top-header {
  background: #22292e;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0; }
  #top-header .navigation-bar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    height: 3rem; }
    #top-header .navigation-bar .logo {
      font-weight: 700;
      color: #c69; }
      #top-header .navigation-bar .logo:hover {
        color: #c69; }
    #top-header .navigation-bar a {
      -webkit-box-flex: 1;
      -ms-flex: 1;
      flex: 1;
      color: #fff;
      text-decoration: none;
      text-align: center; }
      #top-header .navigation-bar a:hover {
        color: #c69; }

#container {
  width: 100%;
  background: #fafafa; }
  #container .row {
    width: 100%;
    height: 390px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  #container .background-title {
    background: #fff;
    padding: 2rem; }
  #container .description {
    text-align: center;
    color: #808c99; }
  #container .name {
    text-align: center;
    color: #c69;
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 4px; }
  #container .description {
    font-weight: 300;
    font-size: 1rem;
    letter-spacing: 2px; }

#projects {
  width: 100%;
  padding: 6rem 0; }
  #projects .col-projects {
    max-width: 90%;
    margin: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
  #projects .items {
    background: #fafafa;
    -webkit-box-shadow: 1px 15px 45px -10px rgba(0, 0, 0, 0.2);
    box-shadow: 1px 15px 45px -10px rgba(0, 0, 0, 0.2);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    border-radius: .2rem;
    height: 300px;
    width: 300px;
    margin: .5rem; }
  #projects .project-name {
    color: #c69;
    font-size: 1.2rem;
    letter-spacing: 1px; }
  #projects .all-projects {
    text-decoration: none;
    color: #808c99;
    text-decoration: underline; }
    #projects .all-projects:hover {
      color: #c69; }
  #projects .view-project {
    font-size: 1rem;
    text-decoration: underline;
    color: #808c99;
    letter-spacing: 1px; }
    #projects .view-project:hover {
      color: #c69;
      -webkit-transition: 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
      -o-transition: 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
      transition: 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275); }

#about-me {
  width: 100%;
  border-top: 1px solid #dadada; }
  #about-me .container-about {
    width: 70%;
    max-width: 100%;
    margin: 0 auto; }
  #about-me .about-inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    height: 100vh; }
  #about-me p {
    font-size: 1.1rem;
    color: #808c99;
    letter-spacing: 1px;
    line-height: 1.6; }

#contact {
  width: 100%;
  border-top: 1px solid #dadada; }
  #contact .contact-wrapper {
    max-width: 90%;
    margin: 0 auto; }
  #contact .contact-inner {
    height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
    #contact .contact-inner i {
      margin: 2rem 0;
      font-size: 2.8rem;
      text-decoration: none;
      color: #333; }
      #contact .contact-inner i:hover {
        color: #c69; }
    #contact .contact-inner a {
      -webkit-box-flex: 1;
      -ms-flex: 1;
      flex: 1;
      text-align: center; }

#footer {
  width: 100%;
  border-top: 1px solid #dadada; }
  #footer .footer-wrapper {
    max-width: 90%;
    margin: 0 auto;
    height: 200px; }
  #footer .footer-inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 200px; }
  #footer .me {
    color: #808c99;
    font-size: 1rem;
    letter-spacing: 2px; }

@media (max-width: 800px) {
  #container .background-title {
    padding: 2rem 0; }
  #container .name {
    font-size: 2rem; }
  #container .description {
    font-size: .9rem; }
  #contact .contact-inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
    #contact .contact-inner a {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      text-decoration: none; } }
